AWS_REGION=ap-south-1
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
CLAUDE_MODEL=us.anthropic.claude-haiku-4-5-20251001-v1:0
EMBEDDING_MODEL=amazon.titan-embed-text-v2:0

DB_HOST=your_rds_endpoint
DB_NAME=teleagent_db
DB_USER=postgres
DB_PASSWORD=your_db_password
DB_PORT=5432

BEDROCK_GUARDRAIL_ID=your_guardrail_id
BEDROCK_GUARDRAIL_VERSION=your_guardrail_version

LANGFUSE_PUBLIC_KEY=your_langfuse_public_key
LANGFUSE_SECRET_KEY=your_langfuse_secret_key
LANGFUSE_BASE_URL=https://cloud.langfuse.com

GMAIL_USER=your_gmail@gmail.com
GMAIL_PASSWORD=your_gmail_app_password
